#sweep{
    height 100%;
    padding:3% 0
    flex-ajd()
    justify-content: flex-end;
    .prompt{
        color #999999
        font(28)
        margin-bottom: rem(40)
        // margin-top:3%;
    }
    .qrcode{
        margin-bottom: rem(100)
        // u-WH(346,346);
        flex-daj()
        // flex-aj()
        // padding-bottom:2%;
        // margin:10% 0;
        // flex:1;
        // >div{
        //     padding:rem(25)
        //     background #fff
        //     border-radius rem(10)
        // }
    }
    .prompt.guwei{
        margin-bottom: rem(0)
        margin-top: rem(-80)
    }

}